.DS_Store
*.swp

.attach_pid*
.classpath
.factorypath
.idea
.project
.settings
target
*.iml

node
node_modules
**/.npmrc
!/src/etc/.npmrc
**/*webapp/coverage
**/*webapp/mock-server/**/*.js
**/*webapp/mock-server/**/*.js.map

npm-debug.log*

__pycache__
**/__pycache__/
.pydevproject
venv
*.pyc
*.pyo

.terraform
*.tfplan
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfvars